@import "tailwindcss";

@layer base {
  [data-theme="ocean"] {
    --color-primary: #f5efe6;
  }

  [data-theme="rainforest"] {
    --color-primary: #56d0a0;
  }

  [data-theme="candy"] {
    --color-primary: #f9a8d4;
  }
}
body {
  background-color: #f5efe6;
  font-family: poppins, sans-serif;
}
.opacity {
  opacity: 0.3;
}
