@import "tailwindcss";

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.clip-diagonal-reverse {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  80% {
    transform: translateX(-8px);
  }
  40%,
  60% {
    transform: translateX(8px);
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}
